## See variables.tf for descriptions

do_token = "X"
region = "syd1"

app_name = "<your computer-friendly app name>"
friendly_app_name = "<your human-friendly app name>"
environment = "<production/staging/development>"

primary_domain = "example.com"
vpc_ip_range = "172.16.0.0/20"
kubernetes_version = "1.28."
node_pool_droplet_size = "<droplet sizes: https://slugs.do-api.dev/>"
node_pool_auto_scale = "true"
node_pool_min_nodes = "1"
node_pool_max_nodes = "X"

argocd_chart_version = "5.48.0"
argocd_apps_chart_version = "1.4.1"